@import '../../constants/variables.scss';

.button {
  background-color: var(--background-primary-color);
  color: var(--font-color);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  user-select: none;
  cursor: pointer;

  div {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--font-color);
  }
  div:last-child {
    transform: rotate(90deg);
  }
}