.button {
  background-color: #fff;
  color: #000;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cacaca;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;

  div {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #000;
  }
  div:last-child {
    transform: rotate(90deg);
  }
}