@import '../../constants/variables.scss';

.default{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 8px 12px;
    font-size: 17px;
    font-family: 'Segoe UI', sans-serif;
    background-color: transparent;
    transition: 0.3s ease;
    border: 1px solid transparent;
    outline: 0;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: none;
    margin-bottom: 10px;

    &:hover{
        background-color: var(--hover-color);
        
        .deleteButton {
            opacity: 1;
            pointer-events: all;
        }
    }
}


.selected{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 8px 12px;
    font-size: 17px;
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--selected-color);
    transition: 0.3s ease;
    outline: 0;
    border-radius: 6px;
    box-shadow: none;
    border: 1px solid var(--selected-border-color);
    margin-bottom: 10px;

    .deleteButton {
        opacity: 1;
        pointer-events: all;
    }
}

.deleteButton {
    display: flex;
    justify-content: center;

    width: 15px;

    transition: 0.6s ease opacity;
    pointer-events: none;
    opacity: 0;

    cursor: pointer;

    .deleteButtonChild {
        position: relative;
        height: 17px;
        width: 2px;
        background-color: #cacaca;
    }
    .deleteButtonChild:first-child {
        transform: rotate(45deg);
    }
    .deleteButtonChild:last-child {
        right: 1.5px;
        transform: rotate(-45deg);
    }
}

.modalText {
    text-align: center;
    margin-bottom: 20px;

    span {
        font-weight: 600;
    }
}
.modalButtonRow {
    display: flex;
    justify-content: space-between;

    .modalButtonWrapper {
        width: 48%;
    }
}