@import '../../constants/variables.scss';

.button {
  width: 100%;

  padding: 6px;

  text-align: center;

  border-radius: 5px;
  border: 1px solid var(--border-color);

  background-color: var(--background-primary-color);

  font-size: 16px;
  color: var(--font-color);

  cursor: pointer;
  user-select: none;

  transition: background-color 0.3s ease;
    
  &:hover {
    background-color: var(--border-color);
  }
}