.button {
  width: 100%;

  padding: 6px;

  text-align: center;

  border-radius: 5px;
  border: 1px solid #cacaca;

  background-color: #fff;

  font-size: 16px;
  color: #000000;

  cursor: pointer;
  user-select: none;

  transition: background-color 0.3s ease;
    
  &:hover {
    background-color: #cacaca;
  }
}