@import '../../constants/variables.scss';

.wrapper {
  background-color: var(--background-primary-color);
  
  .content {
    transition: 
      width 0s, 
      background-color 0.3s ease !important;
    background-color: var(--background-secondary-color);
    height: 100vh;
    padding-top: 28px;
    position: relative;
    margin-right: 70px;
    color: var(--font-color)
  }
  .resizeLineWrapper {
    width: 8px;
    top: 0;
    right: -8px;
    height: 100vh;
    position: absolute;
    display: block;
    cursor: w-resize;

    .resizeLine {
      width: 1px;
      background-color: var(--border-color);
      height: 100vh;
    }
  }

  .contentWrapper {
    width: 90%;
    margin: 0 auto;

    .searchWrapper {
      margin-bottom: 36px;
      display: flex;
      justify-content: space-between;

      .inputTextWrapper {
        width: 88%;
      }
    }
    .taskListWrapper {
      height: 70vh;
      overflow-y: auto;

      &::-webkit-scrollbar{
      	width: 12px;
      	background-color: var(--background-primary-color);
      }
      &::-webkit-scrollbar-track {
        border:var(--border-color) 1px solid;
        border-radius: 5px;
        background-color: var(--background-primary-color);
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: var(--border-color);
      }
    }
  }
  
  .settingsWrapper {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    bottom: 0;

    .settingsButton {
      cursor: pointer;

      .settingsIcon {
        fill: var(--font-color)
      }
    }
  }

  .modalButtonWrapper {
    padding-top: 15px;
    width: 40%;
    margin: 0 auto;
  }

  .settingsTitle {
    font-size: 25px;
    text-align: center;
  }

  .settingsModalContent {
    padding-top: 20px;

    .settingsModalElement {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: capitalize;

      font-size: 27px;

      width: 40%;
      margin: 0 auto;


      .settingsModalOptionValue {
        width: 50%;
      }

      
    }
  }
  .settingsModalResetButtonWrapper {
    padding-top: 20px;
  }

  .modalText {
    text-align: center;
    margin-bottom: 20px;

    span {
        font-weight: 600;
    }
}
.modalButtonRow {
    display: flex;
    justify-content: space-between;

    .modalButtonWrapper {
        width: 48%;
    }
}
}