.wrapper {
  width: 440px;
  background-color: #F9FAFB;
  height: 100vh;
  padding-top: 28px;

  border-right: 1px solid #CACACA;


  .contentWrapper {
    width: 90%;
    margin: 0 auto;

    .searchWrapper {
      margin-bottom: 36px;
    }
  }

  .MyClass {
    position: absolute;
    left: 5px;
  }
  .MyClassEnterActive {
    left: 15px;
    transition: left 500ms;
  }
  .MyClassEnterDone {
    left: 15px;
  }
  .MyClassExit {
    left: 15px;
  }
  .MyClassExitActive {
    left: 5px;
    transition: left 500ms;
  }
}