.wrapper {
  width: 440px;
  background-color: #F9FAFB;
  height: 100vh;
  padding-top: 28px;

  border-right: 1px solid #CACACA;


  .contentWrapper {
    width: 90%;
    margin: 0 auto;

    .searchWrapper {
      margin-bottom: 36px;
      display: flex;
      justify-content: space-between;

      .inputTextWrapper {
        width: 88%;
      }
    }
  }

  .modalButtonWrapper {
    padding-top: 15px;
    width: 40%;
    margin: 0 auto;
  }
}