@import '../../constants/variables.scss';

.wrapper {
  width: calc(100vw - 440px);
  height: 100vh;

  padding: 20px 0;
  background-color: var(--background-primary-color);  
  color: var(--font-color);

  .titleWrapper textarea {
    background-color: var(--background-primary-color);  
    color: var(--font-color);
    width: 100%;
    border: 0;
    outline: none;
    resize: none;
    display: inline-block;

    font-size: 35px;
  }

  .buttonGroup {
    z-index: 1000;
    cursor: pointer;

    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      margin: 5px;
    }
  }

  
}
