.editor {
  max-width: calc(95vw - 440px);
  margin-top: 20px;
  height: 82%;

  .ProseMirror {
    min-height: 200px;
    outline: none;
    height: 100%;
    overflow-y: auto;

    ul {
      position: relative;
      left: 16px;
    }
    ol {
      position: relative;
      left: 17.5px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: 600;
    }

    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 26px;
    }
    h4 {
      font-size: 23px;
    }
    h5 {
      font-size: 20px;
    }
    h6 {
      font-size: 18px;
    }
  }
}