@import '../../constants/variables.scss';

.wrapper {
  position: fixed;
  top: 10px;

  z-index: 1000;

  display: flex;
  justify-content: center;

  width: 100vw;

  .content {
    font-size: 24px;
    background-color: var(--background-primary-color);
    border: 1px solid var(--border-color);
    color: var(--font-color);
    padding: 10px;

    min-width: 750px;
    text-align: center;

    border-radius: 5px;
  }
}